<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partial/style') %>
</head>

<body>
<h1>Are you sure ?</h1>
<a href="/home">No</a>
<a href="/products/remove/<%= id %>">Ok</a>
</body>

<%- include('../partial/js') %>

</html>